.blog-body {
    max-width: 50rem;
    margin: auto;

    & h1, h2, h3, h4, h5 {
        margin: 1rem 0 1rem 0;
    }

    .title {
        font-size: 5rem;
        font-weight: 400;
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }
}

pre {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 2px;

    & code {
        font-family: 'Inconsolata', monospace;
    }
}